{% extends "base.html" %}

{% block title %}ZPROVEART{% endblock %}

{% block body %}
<div class="page page-gallery">

  {% include "partials/page_title.html" %}

  <div id="filtersPanel" class="filters-panel">
    {% include "partials/filters.html" %}
  </div>

  <div class="zproveart-content">
    <div class="grid">
      {% for p in products %}
        {% include "components/product_card.html" %}
      {% endfor %}
    </div>
  </div>

  {% include "partials/pager.html" %}

</div>
{% endblock %}
