/* =========================
   LAYOUT GENERAL
   ========================= */
.page{
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 8px;
}

.filters.block,
.grid,
.pager{
  width: 100%;
}

